* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top_menu {
    width: 1319px;
    height: 928px;
    top: -472px;
    left: 1936px;

}

body {
    background-color: white;

}

.header {
    width: 1920px;
    height: 700px;
    top: -472px;
    left: 1638px;

}

.top_header {
    width: 1289px;
    height: 114px;
    top: -458px;
    left: 1954px;

}

.logo_header {
    width: 1016px;
    height: 40px;
    top: -432px;
    left: 2013px;


}

.header_menu {
    width: 556px;
    height: 40px;
    top: -432px;
    left: 2487px;


}

.link_menu {

    display: inline-block;
    margin-right: 30px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    width: 533px;
    height: 17px;
    top: -421px;
    left: 2496px;

}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grow {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.top_content {
    width: 1274px;
    height: 536px;
    top: -323px;
    left: 1954px;


}

.top_info {
    width: 589px;
    height: 494px;
    top: -308px;
    left: 1970px;

}

.text_h5 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
    top: 223px;
    left: 2011px;
}

.text_top_main {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    top: -10px;
    left: 2011px;

}

.top_button {
    width: 374px;
    height: 94px;
    top: 54px;
    left: 1990px;

}

.button_1 {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    top: 75px;
    left: 2013px;
    border-radius: 50px;

}

.button_2 {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90px;
    height: 19px;
    top: 90px;
    left: 2225px;

}

.top_img {
    display: flex;
    align-items: center;


}

.footer {
    width: 1920px;
    height: 243px;
    flex-shrink: 0;

}

.bottom_logo {
    width: 1240px;
    height: 158px;
    top: 266px;
    left: 1970px;

}