* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main_menu {
    margin: 0 300px 0 300px;
    width: 1200px;
    height: 500px;
    top: -472px;
    left: 1936px;

}

body {

    background-color: white;

}

.header {
    width: 1920px;
    height: 700px;
    top: -472px;
    left: 1638px;

}

.top_header {
    display: flex;
    flex-direction: row;



    width: 1900px;
    height: 50px;
    top: -458px;
    left: 1954px;

}

.logo_header {

    /* padding: 0px 30px 30px 0px;
    display: inline-block; */
    width: 1900px;
    height: 40px;



}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 40px;
    top: -432px;
    left: 2487px;


}


.link_menu {
    margin: 0 0 0 50px;
    display: inline-block;
    font-family: Gilroy-Medium;
    padding-top: 8px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #000;
    width: 800px;
    height: 25px;
    /* top: -421px;
    left: 2496px; */

}


.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grow_be {
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 120;
    height: 40;
}

.grow {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.mid_content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    width: 1900px;
    height: 536px;
    /* top: -323px;
    left: 1954px; */


}



.text_h5 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
    top: 223px;
    left: 2011px;
}

.text_mid_main {
    padding: 10px 10px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    top: -10px;
    left: 2011px;

}

.mid_button {
    padding: 20px 20px;
    width: 374px;
    height: 94px;
    top: 54px;
    left: 1990px;

}

.button_1 {
    margin: 15px 15px;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.button_2 {
    margin: 15px 15px;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 90px;
    height: 19px;
    top: 90px;
    left: 2225px; */

}

/* .mid_text {} */

.mid_img {

    width: 610.73px;
    height: 372.9px;
    top: -308px;
    left: 2572px;


}

.footer {
    margin: 0 200px 0 200px;
    width: 1600px;
    height: 150px;
    flex-shrink: 0;

}

.bottom_logo {
    padding: 50px 70px;
    margin: 50px 50px;
    width: 1240px;
    height: 158px;
}